@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.RegisterMain{
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: space-between;
}
#leftImg{
    width: 64vw;
    height: 98vh;
}

#leftImg img{
    width: 30.6vw;
    height: 72vh;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-80%, -45%);
}
#leftImgg img{
    width: 36vw;
    height: 82vh;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-80%, -45%);
}

#RightPart{
    border: 1px solid rgba(110, 103, 103, 0.249);
    border-radius: 10px;
    width: 34vw;
    height: 100vh;
    overflow-y: scroll;
}
.rightLogo{
    padding: 10px;
    margin: 12px 3px;
    position: relative;
    top: 20px;
}
.rightLogo img{
    display: block;
    width: 5vw
}
.TextSection{
    text-align: left;
    padding: 10px;
    margin: 12px 23px;
    color: rgba(20, 20, 19, 0.726);
    letter-spacing: normal;
    line-height: 1.8rem;
    font-family: 'Public Sans', sans-serif;
}
.TextSection h5{
    font-size: 1.115rem;
    font-weight: 550;
}
.TextSection h4{
    font-size: 1.3rem;
    font-weight: 600;
}

.TextSection h6{
    font-size: 1rem;
    font-weight: 300;
}
.Form{
    height: fit-content;
    text-align: left;
    margin: 3px 30px;
    line-height: 1.6rem;
}
.Form label{
    font-size: 13.4px;
    font-weight: 500;
    font-family: "Public Sans";
    overflow: hidden;
    text-overflow: ellipsis;
}
.Form [input="password"]{
    font-weight: 800;
    font: 1rem;
}
#user,#email,#website,#password{
    padding: 13.6px 15px;
    color: rgb(74, 67, 67);
    font-weight: 800px;
    width: 29vw;
    border-radius: 7px;
    border: 1px solid rgba(41, 39, 39, 0.249);
    box-shadow: 2px 1px 1px 2px grey;
}
#password{
    letter-spacing: 3px;
}
.Form div{
    margin: 17px 0px;
}
.Form div span{
    color: rgb(73, 73, 244);
}
#btn{
    width: 30vw;
    background-color: rgba(102, 88, 247, 1.882);
    color: white;
    padding: 8px 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

input[type="checkbox"]{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: rgb(73, 73, 244);
}
.link{
    padding: 15px 0px;
}
.line{
    padding: 17px 0px;
}
.or{
    position: relative;
    color: dimgray;

}
.or::before{
    content: "";
    position: absolute;
    right: 0;
    left: 2vw;
    top: 0;
    height: 1px;
    width: 13vw;
    margin-top: 11px;
    background-color: dimgray;
}
.or::after{
    content: "";
    position: absolute;
    left: 18.9vw;
    right: 0;
    top: 0;
    height: 1px;
    width: 13vw;
    margin-top: 11px;
    background-color: dimgray;
}

.sponcers{
    display: flex;
    width: 32vw;
    justify-content: center;
}
.sponcers div{
    background-color: #ffb6c14a;
    padding: 5px 9px;
    border-radius: 5px;
    margin: 20px 16px;
}
.fa-twitter{
    color: skyblue;
}
.fa-google{
    color: rgb(200, 86, 86);
}
.fa-facebook-f{
    color: rgb(52, 52, 208);
}

.info{
    color: rgb(52, 52, 208);
    background-color: rgba(205, 156, 253, 0.726);
    line-height: 1.8rem;
    width: 26vw;
    border-radius: 8px;
    position: relative;
    left: 3.5vw;
    padding: 8px 10px;
}
.info p{
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Public Sans";
    text-align: left;
}

.mid-center{
    display: flex;
    justify-content: space-between;
}
 .fa-user{
    color: purple;
 }
 .loff{
    display: flex;
 }

 /* PrepCopy */
 .Name {
    background-color: #06b4ee;
    color: white;
    font-size: 21px;
    padding: 2px 12px;
    border-radius: 50%;
}

.name {
    color: #00a6eb;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 172px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}